.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    z-index: -1;
    position: relative;
    /* выше установили ограничения для секции */
}
  
  .logo_place_header {
    border: 1px solid #ff0000;
    position: absolute;
    width: 228px;
    height: 32px;
    margin-top: 30px;
    margin-left: 64px;
  }
  
  .header__title {
    border: 1px solid red;
    display: flex;
    align-self: center;
    z-index: 2;
    line-height: 96px;
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    color: #000000;
  }
  
  .header__subtitle {
    border: 1px solid red;
    position: absolute;
    display: block;
    align-self: flex-end;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-left: 64px;
    margin-bottom: 30px;
    color: #000000;
  }
  
  .header__link::before {
    content: " ";
    color: #2f80ed;
    display: inline-block;
    position: absolute;
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  }
  
  .header__main-illustration {
    border: 1px solid red;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    object-fit: contain;
    margin-right: 0;
  }

.header__square-pic {
    border: 1px solid red;
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
  }

  .description {
    border: 1px solid red;
    margin: 0;
  }

  .two-columns {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    min-height: auto;
    margin: 100px auto 100px auto;
  }

  .two-columns__brief {
    border: 1px solid blue;
    width: 175px;
    display: inline-block;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    padding: 0;
    margin: 0;
  }

  .two-columns__main-text {
    border: 1px solid blue;
    display: inline-block;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
    /* padding: 30px 30px; */
  }

  .digits {
    padding: 100px auto 100px auto;
  }

  .section-title {
    width: 60%;
    margin-bottom: 20px;
  }

  .section-subtitle {
    width: 60%;
  }

  /* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }
  