.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    z-index: -1;
    position: relative;
    /* выше установили ограничения для секции */
}
  
  .logo_place_header {
    border: 1px solid #ff0000;
    position: absolute;
    width: 228px;
    height: 32px;
    margin-top: 30px;
    margin-left: 64px;
  }
  
  .header__title {
    border: 1px solid red;
    display: flex;
    align-self: center;
    z-index: 2;
    line-height: 96px;
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    color: #000000;
  }
  
  .header__subtitle {
    border: 1px solid red;
    position: absolute;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    left: 64px;
    bottom: 30px;
    color: #000000;
    z-index: 3;
  }
  
  .header__link::before {
    content: " ";
    color: #2f80ed;
    display: inline-block;
    position: absolute;
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  }
  
  .header__main-illustration {
    border: 1px solid red;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    background-size: cover;
    padding: 0;
  }

.header__square-pic {
    border: 1px solid red;
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
  }

  .description {
    border: 1px solid red;
    margin: 0;
    background-color: url(http://www.w3.org/2000/svg);
  }

  .two-columns {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    margin: 100px auto 0 auto;
  }

  .two-columns__brief {
    border: 1px solid blue;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    padding-right: 90px;
    margin: 0;
  }

  .two-columns__main-text {
    border: 1px solid blue;
    display: inline-block;
    line-height: 34px;
    min-width: 784px;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin-left: 70px;
    padding: 0;
  }
  .two-columns__paragraph {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 30px;
  }

  .digits {
    border: 1px solid red;
    background-color: url(http://www.w3.org/2000/svg);
  }

  .section-title {
    border: 1px solid red;
    display: flex;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 100px auto 20px auto;
    justify-content: center;
  }

  .section-subtitle {
    border: 1px solid red;
    display: flex;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }

  .table {
    border: 1px solid red;
    width: 1100px;
    display: flex;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .table__cell {
    border: 1px solid red;
    flex: inline-block;
    width: 250px;
    margin-top: 60px;
  }

  .table__heading {
    border: 1px solid red;
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text {
    border: 1px solid red;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .feynman {
    border: 1px solid red;
    display: flex;
    height: 890px;
    background-color: #f2f2f2;
    z-index: -1;
    position: relative;
  }

  .feynman__title {
    border: 1px solid red;
    width: 648px;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    margin-top: 100px;
    padding: 0;
  }

  .feynman__subtitle {
    border: 1px solid red;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;
    padding: 0;
  }

  .feynman__link {
    border: 1px solid red;
    flex: inline-block;
    top: 50%;
    right: 48px;
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    z-index: 3;
    margin: 0;
    padding: 0;
  }

  .feynman__image {
    border: 1px solid red;
    display: block;
    width: 867px;
    height: 637px;
    left: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
  }

  .kaufman {
    border: 1px solid red;
    overflow: hidden;
    z-index: -1;
  }

  .section-title_theme_dark {
    display: inline-block;
    width: 60%;
    margin-top: 90px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
  }

  .section-subtitle_theme_dark {
    display: inline-block;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
  }

  .table_theme_dark {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }

  .table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .kaufman__triangle {
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    z-index: 0;
  }