.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    z-index: -1;
    position: relative;
    /* выше установили ограничения для секции */
}

  .logo {
    width: 228px;
    height: 32px;
  }

  .logo_place_header {
    border: 1px solid #ff0000;
    position: absolute;
    margin-top: 30px;
    margin-left: 64px;
  }
  
  .header__title {
    border: 1px solid red;
    display: flex;
    align-self: center;
    z-index: 2;
    line-height: 96px;
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    color: #000000;
  }
  
  .header__subtitle {
    border: 1px solid red;
    position: absolute;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    left: 64px;
    bottom: 30px;
    color: #000000;
    z-index: 3;
  }
  
  .header__link::before {
    content: ' ';
    display: inline-block;
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  }
  
  .header__main-illustration {
    border: 1px solid red;
    display: flex;
    width: 765px;
    height: 608px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    object-fit: cover;
  }

.header__square-pic {
    border: 1px solid red;
    position: absolute;
    z-index: 0;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
  }

  .description {
    border: 1px solid red;
    margin: 0;
    background-color: white;
  }

  .two-columns {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 0 auto;
    padding: 0;
  }

  .two-columns__brief {
    border: 1px solid blue;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0;
    padding: 0;
  }

  .two-columns__main-text {
    border: 1px solid blue;
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .span-accent {
    border: 1px solid red;
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
  }

  .two-columns__paragraph_margin-bottom {
    border: 1px solid red;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .two-columns__paragraph_margin-top {
    border: 1px solid red;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .digits {
    border: 1px solid red;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
  }

  .section-title {
    border: 1px solid red;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
  }

  .section-subtitle {
    border: 1px solid red;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    /* justify-content: center; */
    text-align: center;
  }

  .table {
    border: 1px solid red;
    display: flex;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .table__cell {
    border: 1px solid red;
    flex: inline-block;
    width: 250px;
    margin-top: 60px;
  }

  .table__heading {
    border: 1px solid red;
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
  }

  .table__text {
    border: 1px solid red;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .feynman {
    border: 1px solid red;
    display: flex;
    height: 890px;
    background-color: #f2f2f2;
    z-index: -1;
    position: relative;
    justify-content: center;
  }

  .feynman__title {
    border: 1px solid red;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .feynman__subtitle {
    border: 1px solid red;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    align-self: center;
    z-index: 1;
    position: absolute;
  }

  .feynman__link {
    border: 1px solid red;
    display: inline-block;
    top: 50%;
    right: 48px;
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
  } 

  .feynman__image {
    border: 1px solid red;
    width: 867px;
    height: 637px;
    left: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
  }

  .kaufman {
    border: 1px solid red;
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
    background-color: #1f1f1f;
    justify-content: center;
  }

  .section-title_theme_dark {
    border: 1px solid red;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 0;
    z-index: 1;
  }

  .section-subtitle_theme_dark {
    border: 1px solid red;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
    text-align: center;
    z-index: 1;
  }

  .table_theme_dark {
    border: 1px solid red;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    color: white;
    z-index: 1;
    padding: 0;
  }

  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    border: 1px solid red;
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;
  }

  .table__heading_theme_dark {
    border: 1px solid red;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .table__text_theme_dark {
    border: 1px solid red;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0;
    color: white;
  }

  .kaufman__triangle {
    border: 1px solid red;
    width: 877px;
    height: 877px;
    z-index: 0;
    position: absolute;
    background-image: url(sprint-1__startkit/images/kaufman-triangle.svg);
    background-size: cover;
    top: 0;
    right: -210px; 
  }

  .footer {
    display: flex;
    min-height: 350px;
    padding-top: 60px;
    padding-right: auto;
    padding-bottom: 40px;
    padding-left: auto;
    flex-direction: row;
    justify-content: center;
    background-color: #1f1f1f;
  }

  .footer__columns {
    border: 1px solid red;
    width: 90%;
  }

  .footer__column_content_copyright {
    border: 1px solid red;
    flex-basis: 711px;
  }

  .logo {
    width: 228px;
    height: 32px;
  }

  .logo_place_footer {
    border: 1px solid red;
    color: white;
    justify-content: flex-start;
  }

  .footer__author {
    border: 1px solid red;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    left: 0;;
    bottom: 18px;
    color: white;
  }

  .footer__column-heading {
    border: 1px solid red;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
  }

  .footer__column-links {
    border: 1px solid red;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
  }